/* RESPONSABLE: Rol 2 (UX-UI)
REQUERIMIENTO: Configuración de impresión 80x40mm
*/
@media print {
    @page {
        size: 80mm 40mm;
        /* El requerimiento estricto */
        margin: 0;
    }

    body {
        margin: 0;
        /* Asegura que el body pueda crecer infinitamente */
        height: auto;
    }

    /* Regla de ORO para que no se rompan los textos */
    table {
        width: 100%;
    }

    tr {
        /* Esto evita que una fila se corte a la mitad entre una "página" y otra */
        break-inside: avoid;
        page-break-inside: avoid;
    }
}